# altium designer
**/History/
**/__Previews/
*.htm
*.LOG
*.OutJob
*.REP

*.rar
*.zip
# vscode

# mdk
*.dbgconf
*.axf
*.build_log.htm
*.crf
*.d
*.dep
*.htm
*.icf
*.lnp
*.lst
*.map
*.o
*.sct
*.uvguix.*
*.scvd
*/MDK-ARM/DebugConfig/*
*/MDK-ARM/RTE/*

# ctags
tags
